// Shared CSS for registraion and login forms
#login,
#register {
  position: relative;
  width: 100%;
  padding-top: 2em;
  // min-height: 100vh;
  // overflow-x: hidden;
  // #watermark {
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: auto;
  //   height: 100vh;
  //   opacity: 0.3;
  // }
  p {
    color: $color-dark;
  }
  .card {
    // margin: auto auto;
    // max-width: 450px;
    // padding: 1em;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, .2);
    .input-container {
      // padding: 1em 0;
      .user-input {
        -webkit-appearance: none;
        box-sizing: border-box;
        display: flex;
        color: $color-secondary-dark;
        font-size: 1.1em;
        border-color: $color-accent-dark;
        border: none;
        margin: 1em auto;
        padding: 1em 1em;
        width: 100%;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
        i {
          color: $color-dark;
          padding-right: 0.5em;
        }
        input {
          -webkit-appearance: none;
          box-sizing: border-box;
          display: block;
          padding: 0;
          margin: 0;
          border: none;
          width: 100%;
        }
        input::placeholder {
          -webkit-appearance: none;
          padding: 0 0;
        }

        input:focus,
        input:focus-within {
          -webkit-appearance: none;
          // padding-left: 1em;
        }
      }
    }

    .button {
      width: 100%;
      padding: 0.15em 0;
      margin: 1em 0;
      box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    }
    .button:hover {
      box-shadow: unset;
      transform: scale(0.98);
    }
    .change-type {
      font-size: 0.75em;
      color: $color-secondary-dark;
      a {
        text-decoration: solid;
      }
    }
  }
}
