#chat {
  overflow: hidden;
  margin: 4em 0;
  // background-color: white;
  .chat-area {
    margin: 2em 0;
    padding: 1.5em;
    background-color: $color-light;
    // box-shadow: 1px 1px 1px 1px black;
    .chat-bubble {
      // background-color: $color-primary;
      margin: 1em .3em;
      //   display: inline-block;
      
      width: 85%;
      .chat-name {
        font-size: .7em;
        color: $color-secondary-dark;
      }
      .chat-text {
        position: relative;
        font-size: 1em;
        background-color: $color-primary;
        padding: 0.5em 1em;
        border-radius: 0.25em;
      }
      .chat-time {
        
        font-size: 0.6em;
        margin-right: 0.5em;
        color: $color-secondary-dark;
        text-align: right;
      }
    }
    .current-user {
      margin-left: auto;
      .chat-name {
        display: none;
      }
      .chat-text {
        background-color: $color-accent-dark;
      }
    }
  }
  form {
    margin: 4em 0;
    padding: 1em;
    #add-comment {
      width: 100%;
      textarea {
        padding: .75em;
        font-family: Poppins;
        box-sizing: border-box;
        font-size: 1.25em;
        margin: 1em 0;
        display: block;
        width: 100%;
        height: 8.5em;
        border: none;
        border-radius: 0.5em;
        box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px $color-light;
      }
      .btn-accent-light {
        margin: 1em 0;
        margin-left: auto;
      }
      .posting {
        color: $color-secondary-dark;
      }
    }
  }
}

// 3px 3px 11px 5px rgba(0, 0, 0, 0.23);

// linear-gradient(-5deg, rgba(45,72,124,1) 0%, rgba(26,119,190,1) 50%, rgba(45,72,124,1) 100%)
// box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
/* General CSS Setup */
// body{
//     background-color: lightblue;
//     font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
//   }

//   /* container */
//   .container {
//     padding: 5% 5%;
//   }

//   /* CSS talk bubble */
//   .talk-bubble {
//       margin: 40px;
//     display: inline-block;
//     position: relative;
//       width: 200px;
//       height: auto;
//       background-color: lightyellow;
//   }
//   .border{
//     border: 8px solid #666;
//   }
//   .round{
//     border-radius: 30px;
//       -webkit-border-radius: 30px;
//       -moz-border-radius: 30px;

//   }

/* Right triangle placed top left flush. */
.chat-text:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -16px;
  right: auto;
  top: 0;
  bottom: auto;

  border-color: $color-primary transparent transparent transparent;
}
.chat-text:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -16px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: $color-primary transparent transparent transparent;
}
.current-user {
  .chat-text:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    right: -16px;
    left: auto;
    top: 0;
    bottom: auto;
  
    border-color: $color-accent-dark transparent transparent transparent;
  }
  .chat-text:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    right: -16px;
    left: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: $color-accent-dark transparent transparent transparent;
  }
}

