// Common text settings
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: $color-light;
}

a {
  text-decoration: none;
}

i {
  padding-right: 1em;
}

input,
input:focus,
input:focus-within {
  border: none;
  outline: none;
  background-color: $color-light;
}

input {
  border-bottom: solid 1px $color-accent-dark;
  margin: 1em 0;
  transition: 0.5s;
}

.text-danger {
  color: $color-warning;
}

// Common container css
body {
  font-family: $primary-font;
  background-color: $color-light;
}

.container {
  padding: 1em;
}

.card {
  background-color: $color-light;
  margin: 0.5em;
  border-radius: .5em;
  max-width: 400px;
  
}

.card-shadow {
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset -2px -2px 13px 5px rgba(0,0,0,0.1);
}

.inner-card {
  padding: 1em 0.75em;
  transform: translateY(-2.5em);
  border-radius: 0.5em;
  margin-bottom: -2em;
  background-color: $color-primary;
  background: linear-gradient(
    to bottom,
    $color-primary-light 0%,
    $color-primary 40%,
    $color-primary
  );
  h1 {
    color: $color-light;
    text-align: center;
  }
}

// Common buttons
.button {
  width: 5em;
  height: 2em;
  border-radius: 0.7em;
  text-align: center;
  line-height: 2em;
  padding: 0.2em 1.5em;
  font-weight: bold;
  border: solid 2px;
  transition: 0.5s;
}

.btn-primary {
  @extend .button;
  background-color: $color-accent-dark;
  border-color: $color-primary;
}

.btn-primary-outline {
  @extend .button;
  background-color: $color-accent-dark;
  border-color: $color-primary;
}

.btn-secondary {
  @extend .button;
  border: unset;
  background-color: $color-secondary-dark;
  background: linear-gradient(
    to bottom,
    $color-secondary-light 0%,
    $color-secondary-dark 70%,
    $color-secondary-dark
  );
}

.btn-accent-light {
  @extend .button;
  border: unset;
  background-color: $color-accent-light;
  background: linear-gradient(
    to bottom,
    $color-accent-light 0%,
    $color-accent-dark 70%,
    $color-accent-dark
  );
}

.btn-accent-dark-outline {
  @extend .button;
  background-color: $color-accent-dark;
  border-color: $color-accent-dark;
}
