body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: $color-light;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  margin-top: 50px;
}

.container {
  padding: 1em;
}

.button {
  width: 5em;
  height: 2em;
  border-radius: 0.5em;
  text-align: center;
  line-height: 2em;
  padding: 0.2em 1.5em;
  font-weight: bold;
  border: solid 2px;
              transition: .5s;
}

.btn-primary {
  @extend .button;
  background-color: $color-accent-dark;
  border-color: $color-primary;
}

.btn-secondary-light {
  @extend .button;
  background-color: $color-secondary-light;
  border-color: $color-secondary-light;
}

.btn-accent-light {
  @extend .button;
  background-color: $color-accent-light;
  border-color: $color-accent-light;
}

i {
  padding-right: 1em;
}

.card {
  background-color: $color-light;
  margin: .5em;
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.3);
}

.inner-card {
  background-color: $color-secondary-light;
  padding: 1em .75em;
  transform: translateY(-2.5em);
  border-radius: 0.5em;
  margin-bottom: -2em;

  h1 {
    color: $color-light;
    text-align: center;
  }
}

input,
input:focus,
input:focus-within {
  border: none;
  outline: none;
  background-color: $color-light;
}

input {
  border-bottom: solid 1px $color-accent-dark;

  margin: 1em 0;
  transition: .5s;
}


// input:focus {
//   outline: none !important;
//   background-color: $color-light;
// }
// input:focus-within {
//   outline: none !important;
//   background-color: #ffffff;
//   background-color: $color-light;
// }
// input:-internal-autofill-selected {
//   background-color: #ffffff;
// }
