#gallery {
  position: relative;
  color: $color-primary;
  padding: 1em;
  max-width: 100%;
  .title-container {
    width: 80%;
    margin: 1em auto 2em;
    position: relative;

    img {
      width: 100%;
      max-width: 350px;
      margin: auto;
      display: block;
      height: auto;
      opacity: 1;
      box-shadow: 0 10px 10px -5px rgba($color: #000000, $alpha: 0.5);
      border-radius: 1em;
    }
    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // width: 50%;
      // height: 50%;
      letter-spacing: 0.2em;
      font-size: 1.7em;
      color: $color-light;
      text-align: center;
      padding: 0.6em;
      text-transform: uppercase;
      @include breakpoint(sm-tablet) {
        font-size: 2.2em;
      }
    }
  }
  #recent {
    margin-top: 4em;
  }
  .swiper-container {
    width: 100%;
    max-width: 100%;
    padding-bottom: 1em;
    z-index: unset;
    // transform: translateX(500px);
    opacity: 0;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    @extend .img-shadow;
    @include breakpoint(sm-tablet) {
      width: 400px;
      height: 400px;
    }
  }

  // .swiper-slide::before {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   content: "x";
  //   // @extend .fa;
  //   // @extend .fa-expand;
  //   height: 550px;
  //   width: 100%;
  //   z-index: 1;
  //   color: red;
  // }
  // .swiper-slide::after {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   content: "<i class="fas fa-expand"></i>";
  //   height: 50px;
  //   width: 100%;
  // }
  .expand {
    margin: 0.7em auto;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    color: $color-secondary-dark;
    text-transform: capitalize;
    font-weight: 500;
    @include breakpoint(sm-tablet) {
      font-size: 1em;
    }
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $color-primary;
  }

  .swiper-pagination-progressbar {
    margin-top: 0.5em;
    height: 0.4em;
    position: unset;
  }
}

#modal {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  //   height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  // min-height: 100vh;
  background: $color-light;
  z-index: 1;
  opacity: 0;
  overflow-y: scroll;
  background-color: $color-grey;
  padding: 1em;
  box-sizing: border-box;
  @include breakpoint(sm-desktop) {
    padding: 2em;
  }
  .modal-card {
    padding: 1em;
    margin: 0 auto;
    max-width: 1000px;
    background-color: $color-light;
    // height: 100%;
    @extend .img-shadow;
    @include breakpoint(sm-tablet) {
      padding: 2em;
    }
    .modal-close {
      font-size: 1.5em;
      margin: 0 0 1em;
      font-weight: 600;
      position: relative;
      height: 1.5em;

      .close-text {
        position: absolute;
        top: 0;
        right: 0;
        transition: .5s;
        i {
          padding: 0;
        }
      }
    }
    .modal-close:hover .close-text{
      transform: scale(1.05);

    }
    .modal-display {
      max-width: 100%;
      padding: 0;

      #modal-image {
        max-width: 100%;
        margin: 1em auto;
        display: block;
        @extend .img-shadow;

      }
      p {
        color: $color-dark;
        font-size: 0.6em;
        transform: translateY(300px);
        @include breakpoint(sm-tablet) {
          font-size: 0.8em;
        }
      }
      #info {
        margin-top: 2em;
        font-size: 0.8em;
        @include breakpoint(sm-tablet) {
          font-size: 1.1em;
        }
      }
    }
  }
}
