#home {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  #cover {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    img {
      position: absolute;
      width: auto;
      height: 100vh;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1.25);
    }
    video {
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }
  }
  #logo {
    position: absolute;
    top: 50px;
    right: 0px;
    margin: 1.5em;
    height: 100px;
    z-index: 0;
    img {
      width: auto;
      height: 100%;
    }
  }
  #title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
    display: grid;
    grid-template-areas:
      "title title"
      "events-btn enroll-btn";
    h1 {
      color: $color-light;
      font-size: 4em;
      text-align: center;
      font-weight: 500;
      padding: 0.5em;
      grid-area: title;
    }
    a {
      color: $color-light;
    }
    .cta {
      opacity: 0;
    }
    .button:nth-of-type(1) {
      margin: auto;
      grid-area: events-btn;
      background-color: rgba(0, 0, 0, 0);
      border-width: 3px;
    }
    .button:nth-of-type(2) {
      grid-area: enroll-btn;
      margin: auto;
      background-color: rgba(0, 0, 0, 0);
      border-width: 3px;
    }
    .button:nth-of-type(1):hover {
      background-color: $color-primary;
    }
    .button:nth-of-type(2):hover {
      background-color: $color-accent-dark;
    }
  }
}
