// Font Import
// @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@300;400;500;600;800&display=swap');
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Playfair Display', serif;

// Default COlors
$color-primary: #7c74e9;
$color-primary: #6558a8;
$color-primary-light: #9993f3;
$color-secondary-light: #2a80c0;
$color-secondary-dark: #1b5e90;
$color-accent-light: #72f35a;
$color-accent-dark: #5fc74c;
$color-light: #f8f8f7;
$color-grey: #e2e2e2;
$color-dark: #2d327c;
$color-warning: #ce1423;

// Original Color Backup
// $color-primary: #8e87f1;
// $color-light: #f8f8f7;
// $color-secondary-light: #1b5e90;
// $color-secondary-dark: #2d487c;
// $color-accent-light: #5fc74c;
// $color-accent-dark: #786bbb;