@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #f8f8f7;
}

a {
  text-decoration: none;
}

i {
  padding-right: 1em;
}

input,
input:focus,
input:focus-within {
  border: none;
  outline: none;
  background-color: #f8f8f7;
}

input {
  border-bottom: solid 1px #5fc74c;
  margin: 1em 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.text-danger {
  color: #ce1423;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f7;
}

.container {
  padding: 1em;
}

.card {
  background-color: #f8f8f7;
  margin: 0.5em;
}

.card-shadow {
  -webkit-box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.1);
}

.inner-card {
  padding: 1em 0.75em;
  -webkit-transform: translateY(-2.5em);
          transform: translateY(-2.5em);
  border-radius: 0.5em;
  margin-bottom: -2em;
  background-color: #6558a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#9993f3), color-stop(40%, #6558a8), to(#6558a8));
  background: linear-gradient(to bottom, #9993f3 0%, #6558a8 40%, #6558a8);
}

.inner-card h1 {
  color: #f8f8f7;
  text-align: center;
}

.button, .btn-primary, .btn-primary-outline, .btn-secondary, .btn-accent-light, .btn-accent-dark-outline {
  width: 5em;
  height: 2em;
  border-radius: 0.7em;
  text-align: center;
  line-height: 2em;
  padding: 0.2em 1.5em;
  font-weight: bold;
  border: solid 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary {
  background-color: #5fc74c;
  border-color: #6558a8;
}

.btn-primary-outline {
  background-color: #5fc74c;
  border-color: #6558a8;
}

.btn-secondary {
  border: unset;
  background-color: #1b5e90;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a80c0), color-stop(70%, #1b5e90), to(#1b5e90));
  background: linear-gradient(to bottom, #2a80c0 0%, #1b5e90 70%, #1b5e90);
}

.btn-accent-light {
  border: unset;
  background-color: #72f35a;
  background: -webkit-gradient(linear, left top, left bottom, from(#72f35a), color-stop(70%, #5fc74c), to(#5fc74c));
  background: linear-gradient(to bottom, #72f35a 0%, #5fc74c 70%, #5fc74c);
}

.btn-accent-dark-outline {
  background-color: #5fc74c;
  border-color: #5fc74c;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  width: 100vw;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header #title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #title-group img {
  height: 2em;
  padding: 0.5em 0 0.5em 1em;
  width: auto;
  display: none;
}

header #title-group h1 {
  padding-left: 1em;
  font-size: 1.4em;
  line-height: 50px;
  text-transform: uppercase;
  color: #6558a8;
  font-weight: 800;
}

header .menu-wrap {
  z-index: 1;
  background-color: red;
  position: relative;
}

header .menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  opacity: 0;
}

header .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0.6em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

header .menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 3px;
  background-color: #6558a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .menu-wrap .hamburger > div::before,
header .menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
  background-color: #6558a8;
}

header .menu-wrap .hamburger > div::after {
  top: 10px;
}

header .menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #f8f8f7;
}

header .menu-wrap .toggler:checked + .hamburger > div:before,
header .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #f8f8f7;
}

header .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

header .menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

header .menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu > div {
  background: #1b5e90;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

header .menu > div > div ul {
  padding: 0;
  margin: auto;
}

header .menu > div > div ul li {
  list-style: none;
  font-size: 1.25em;
  padding: 0.5em;
  text-transform: uppercase;
}

header .menu > div > div ul li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #f8f8f7;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .menu > div > div ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #5fc74c;
  font-weight: bold;
}

header .menu > div > div ul li .active::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  background: #5fc74c;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

header .menu > div > div ul li .active:hover::after {
  width: 0;
}

.home-display {
  background-color: rgba(255, 255, 255, 0);
}

.home-display h1 {
  display: none;
}

.home-display .menu-wrap .hamburger > div {
  background-color: #f8f8f7;
}

.home-display .menu-wrap .hamburger > div::before,
.home-display .menu-wrap .hamburger > div::after {
  background-color: #f8f8f7;
}

#home {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
}

#home #cover {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

#home #cover img {
  position: absolute;
  width: auto;
  height: 100vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.25);
          transform: translateY(-50%) translateX(-50%) scale(1.25);
}

#home #cover video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

#home #logo {
  position: absolute;
  top: 50px;
  right: 0px;
  margin: 1.5em;
  height: 100px;
  z-index: 0;
}

#home #logo img {
  width: auto;
  height: 100%;
}

#home #title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title" "events-btn enroll-btn";
}

#home #title h1 {
  color: #f8f8f7;
  font-size: 4em;
  text-align: center;
  padding: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

#home #title a {
  color: #f8f8f7;
}

#home #title .button:nth-of-type(1), #home #title .btn-primary:nth-of-type(1), #home #title .btn-primary-outline:nth-of-type(1), #home #title .btn-secondary:nth-of-type(1), #home #title .btn-accent-light:nth-of-type(1), #home #title .btn-accent-dark-outline:nth-of-type(1) {
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: events-btn;
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
}

#home #title .button:nth-of-type(2), #home #title .btn-primary:nth-of-type(2), #home #title .btn-primary-outline:nth-of-type(2), #home #title .btn-secondary:nth-of-type(2), #home #title .btn-accent-light:nth-of-type(2), #home #title .btn-accent-dark-outline:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: enroll-btn;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
}

#home #title .button:nth-of-type(1):hover, #home #title .btn-primary:nth-of-type(1):hover, #home #title .btn-primary-outline:nth-of-type(1):hover, #home #title .btn-secondary:nth-of-type(1):hover, #home #title .btn-accent-light:nth-of-type(1):hover, #home #title .btn-accent-dark-outline:nth-of-type(1):hover {
  background-color: #6558a8;
}

#home #title .button:nth-of-type(2):hover, #home #title .btn-primary:nth-of-type(2):hover, #home #title .btn-primary-outline:nth-of-type(2):hover, #home #title .btn-secondary:nth-of-type(2):hover, #home #title .btn-accent-light:nth-of-type(2):hover, #home #title .btn-accent-dark-outline:nth-of-type(2):hover {
  background-color: #5fc74c;
}

#login p, #register p {
  color: #2d327c;
}

#login .card, #register .card {
  margin: 3em auto;
  max-width: 250px;
  padding: 1em;
}

#login .card input, #register .card input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1b5e90;
  font-size: 1em;
  border-color: #5fc74c;
  border: none;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

#login .card input::-webkit-input-placeholder, #register .card input::-webkit-input-placeholder {
  padding: 0 0;
}

#login .card input:-ms-input-placeholder, #register .card input:-ms-input-placeholder {
  padding: 0 0;
}

#login .card input::-ms-input-placeholder, #register .card input::-ms-input-placeholder {
  padding: 0 0;
}

#login .card input::placeholder, #register .card input::placeholder {
  padding: 0 0;
}

#login .card input:focus, #login .card input:focus-within, #register .card input:focus, #register .card input:focus-within {
  padding-left: 1em;
}

#login .card .button, #login .card .btn-primary, #login .card .btn-primary-outline, #login .card .btn-secondary, #login .card .btn-accent-light, #login .card .btn-accent-dark-outline, #register .card .button, #register .card .btn-primary, #register .card .btn-primary-outline, #register .card .btn-secondary, #register .card .btn-accent-light, #register .card .btn-accent-dark-outline {
  width: 100%;
  padding: 0.15em 0;
  margin: 1em 0;
  -webkit-box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

#login .card .button:hover, #login .card .btn-primary:hover, #login .card .btn-primary-outline:hover, #login .card .btn-secondary:hover, #login .card .btn-accent-light:hover, #login .card .btn-accent-dark-outline:hover, #register .card .button:hover, #register .card .btn-primary:hover, #register .card .btn-primary-outline:hover, #register .card .btn-secondary:hover, #register .card .btn-accent-light:hover, #register .card .btn-accent-dark-outline:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#login .card .change-type, #register .card .change-type {
  font-size: 0.75em;
  color: #1b5e90;
}

#login .card .change-type a, #register .card .change-type a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

#chat {
  overflow: hidden;
}

#chat .chat-area {
  margin: 2em 0;
  padding: 1.5em;
  background-color: #f8f8f7;
}

#chat .chat-area .chat-bubble {
  margin: .5em .3em;
  width: 85%;
}

#chat .chat-area .chat-bubble .chat-name {
  font-size: .7em;
  color: #2d327c;
}

#chat .chat-area .chat-bubble .chat-text {
  position: relative;
  font-size: 1em;
  background-color: #1b5e90;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

#chat .chat-area .chat-bubble .chat-text:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -1em;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 1.5em solid;
  border-color: #1b5e90 transparent transparent transparent;
}

#chat .chat-area .chat-bubble .chat-time {
  font-size: 0.6em;
  margin-right: 0.5em;
  color: #2d327c;
  text-align: right;
}

#chat .chat-area .current-user {
  margin-left: auto;
}

#chat .chat-area .current-user .chat-text:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: -1em;
  left: auto;
  bottom: 0;
  top: auto;
  border: 1.5em solid;
  border-color: transparent transparent #2a80c0 transparent;
}

#chat .chat-area .current-user .chat-name {
  display: none;
}

#chat .chat-area .current-user .chat-text {
  background-color: #2a80c0;
}

#chat form {
  margin: 4em 0;
  padding: 1em;
}

#chat form #add-comment {
  width: 100%;
}

#chat form #add-comment textarea {
  padding: .75em;
  font-family: Poppins;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1em;
  margin: 1em 0;
  display: block;
  width: 100%;
  height: 8.5em;
  border: none;
  border-radius: 0.5em;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #f8f8f7;
          box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #f8f8f7;
}

#chat form #add-comment .btn-accent-light {
  margin: 1em 0;
  margin-left: auto;
}

#chat form #add-comment .posting {
  color: #1b5e90;
}
