@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: Poppins;
  background-color: #2d487c;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #f8f8f7;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  overflow: hidden;
  margin-top: 3em;
}

.container {
  padding: 1em;
}

.button, .btn-primary, .btn-secondary-light, .btn-accent-light {
  width: 4em;
  height: 2em;
  border-radius: 0.5em;
  text-align: center;
  line-height: 2em;
  padding: 0.2em 1.5em;
  font-weight: bold;
  border: solid 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-primary {
  background-color: #786bbb;
  border-color: #786bbb;
}

.btn-secondary-light {
  background-color: #1a77be;
  border-color: #1a77be;
}

.btn-accent-light {
  background-color: #5fc74c;
  border-color: #5fc74c;
}

.card {
  background-color: #f8f8f7;
  padding: 2em;
  margin: 2em;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 14px 2px rgba(0, 0, 0, 0.3);
}

input,
input:focus,
input:focus-within {
  border: none;
  outline: none;
  background-color: #f8f8f7;
}

input {
  border-bottom: solid 1px #786bbb;
  margin: 1em 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7c74e9;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

header h1 {
  font-size: 1.2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

header .menu-wrap {
  z-index: 1;
  background-color: red;
  position: relative;
}

header .menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  opacity: 0;
}

header .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: .6em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

header .menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #f8f8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .menu-wrap .hamburger > div::before,
header .menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

header .menu-wrap .hamburger > div::after {
  top: 10px;
}

header .menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .menu-wrap .toggler:checked + .hamburger > div:before,
header .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

header .menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

header .menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu > div {
  background: #2d487c;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

header .menu > div > div ul {
  padding: 0;
  margin: auto;
}

header .menu > div > div ul li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: uppercase;
}

header .menu > div > div ul li a {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #f8f8f7;
}

header .menu > div > div ul li a:hover {
  color: #5fc74c;
}

header .menu > div > div ul li .active {
  border-bottom: solid 3px #5fc74c;
}

#home {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.35);
}

#home #cover {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

#home #cover img {
  position: absolute;
  width: auto;
  height: 100vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.25);
          transform: translateY(-50%) translateX(-50%) scale(1.25);
}

#home #cover video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home #logo {
  position: absolute;
  top: 50px;
  right: 0px;
  margin: 1.5em;
  height: 100px;
  z-index: 0;
}

#home #logo img {
  width: auto;
  height: 100%;
}

#home #title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title' 'events-btn enroll-btn';
}

#home #title h1 {
  color: #f8f8f7;
  font-size: 4em;
  text-align: center;
  padding: .5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

#home #title a {
  color: #f8f8f7;
}

#home #title .button:nth-of-type(1), #home #title .btn-primary:nth-of-type(1), #home #title .btn-secondary-light:nth-of-type(1), #home #title .btn-accent-light:nth-of-type(1) {
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: events-btn;
}

#home #title .button:nth-of-type(2), #home #title .btn-primary:nth-of-type(2), #home #title .btn-secondary-light:nth-of-type(2), #home #title .btn-accent-light:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: enroll-btn;
  margin: auto;
}

#home #title .button:nth-of-type(1):hover, #home #title .btn-primary:nth-of-type(1):hover, #home #title .btn-secondary-light:nth-of-type(1):hover, #home #title .btn-accent-light:nth-of-type(1):hover {
  background-color: #f8f8f7;
  color: #7c74e9;
}

#home #title .button:nth-of-type(2):hover, #home #title .btn-primary:nth-of-type(2):hover, #home #title .btn-secondary-light:nth-of-type(2):hover, #home #title .btn-accent-light:nth-of-type(2):hover {
  background-color: #f8f8f7;
  color: #5fc74c;
}

#login .card {
  margin: 3em auto;
  max-width: 250px;
  padding: 1em;
}

#login .card .inner-card {
  background-color: #1a77be;
  padding: 1.5em 1em;
  -webkit-transform: translateY(-3em);
          transform: translateY(-3em);
  border-radius: 0.5em;
  margin-bottom: -2em;
}

#login .card .inner-card h1 {
  color: #f8f8f7;
  text-align: center;
}

#login .card input {
  color: #2d487c;
  font-size: 1em;
  border-color: #786bbb;
  border: none;
  padding: 0.5em 0;
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

#login .card input::-webkit-input-placeholder {
  padding: 0 1em;
}

#login .card input:-ms-input-placeholder {
  padding: 0 1em;
}

#login .card input::-ms-input-placeholder {
  padding: 0 1em;
}

#login .card input::placeholder {
  padding: 0 1em;
}

#login .card .button, #login .card .btn-primary, #login .card .btn-secondary-light, #login .card .btn-accent-light {
  width: 100%;
  padding: 0.15em 0;
  margin: 1em 0;
  -webkit-box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

#login .card .button i, #login .card .btn-primary i, #login .card .btn-secondary-light i, #login .card .btn-accent-light i {
  padding-right: 1em;
}

#login .card .button:hover, #login .card .btn-primary:hover, #login .card .btn-secondary-light:hover, #login .card .btn-accent-light:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#login .card #register {
  font-size: 0.75em;
  color: #2d487c;
}

#login .card #register a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
